
# Insert the author information 
snippet author "Insert English coder info" b
/**
 *
 *  @author    : ${1: Johans}
 *  @time      : ${2: `date +%Y-%M-%d` }
 *  @file      : ${3: `!v  expand('%:p')`}
 **/

endsnippet



  


snippet today

Today is `#!/usr/bin/perl
@a = localtime(); print $a[3].'.'.$a[4].'.'.($a[5]+1900);`.

endsnippet


snippet indent
Indent is: `!v indent(".")`.
endsnippet












